body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://static.standard.co.uk/s3fs-public/thumbnails/image/2018/08/17/13/best-art-galleries-1708h.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1a1a1a;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
