<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasament</title>
    <link rel="stylesheet" th:href="@{/css/clasament_sport.css}">
    <script th:src="@{/js/clasament.js}"></script>

</head>
<body>
    <div class="container">
        <h2>Clasament</h2>
        <table id="leaderboard-table">
            <thead>
                <tr>
                    <th>Rankk</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody id="leaderboard-body">
            </tbody>
        </table>
    </div>
    <script src="../static/js/clasament.js"></script>
</body>
</html>
