<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Domain</title>
    <link rel="stylesheet" th:href="@{/css/domains.css}">
    <script th:src="@{/js/domains.js}"></script>
</head>
<body>
<div class="background-elements">
    <div class="quiz-icon">🎲</div>
    <div class="quiz-icon">📚</div>
    <div class="quiz-icon">🎯</div>
    <div class="quiz-icon">🏆</div>
</div>
<div class="container">
    <form id="domainForm">
        <h2>Select a Domain</h2>
        <div class="domain-selection">
            <label for="domain">Choose a domain:</label>
            <select name="domain" id="domain" placeholder="Selecteaza domeniul pentru quizul tau!" required>
                <option value="">Selecteaza domeniul</option>
            </select>
        </div>
        <button type="button" class="button-link" onclick="startQuiz()">Start the quiz</button>
    </form>
</div>
</body>
</html>
