<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Page</title>
    <<link rel="stylesheet" th:href="@{/css/question.css}">
    <script th:src="@{/js/question.js}"></script>
</head>
<body>
    <div class="background-elements">
        <div class="question-mark">?</div>
        <div class="question-mark">?</div>
    </div>
    <div class="container">
        <form id="questionForm">
            <h2>Answer the Question</h2>
            <div id="questionContainer"></div>
            <div class="answers" id="answersContainer"></div>

            <div class="button-container">
                <a href="https://www.google.com" class="button-link">Previous</a>
                <a href="https://www.google.com" class="button-link button-link-secondary">Next</a>
            </div>
        </form>
    </div>
</body>
</html>
