<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conectare și Începere Quiz</title>
    <link rel="stylesheet" th:href="@{/css/start.css}">
    <script th:src="@{/js/start.js}"></script>
</head>
<body>
    <div class="container">
        <div class="left-container">
            <div class="code-input">
                <h2>Introduceți codul de 6 cifre pentru a vă conecta la joc existent:</h2>
                <input type="text" maxlength="6" placeholder="Introduceți codul aici...">
                <div class="button-container">
                    <a href="../question.html" class="button-link">Connect</a>
                </div>
            </div>
            <div class="quiz-start">
                <h2>Pregătiți-vă pentru quiz! 🎉</h2>
                <p>Codul dumneavoastră pentru joc este:</p>
                <input type="text" value="123456" readonly>
                <div class="button-container">
                    <a href="../domains.html" class="button-link">Select the domain</a>
                </div>
            </div>
        </div>
        <div class="players-list">
            <h2>Jucători participanți:</h2>
            <ul id="players">
            </ul>
        </div>
        <div class="emoji-container">
            <div>🎮</div>
            <div>👾</div>
            <div>🎲</div>
            <div>🕹️</div>
        </div>
    </div>
    <script src="../static/js/start.js"></script>
</body>
</html>
