body {
    background-color: #141414;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.background-elements {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.question-mark {
    font-size: 200px;
    color: rgba(255, 255, 255, 0.1);
    animation: float 5s infinite;
    color: purple;
}

.question-mark:nth-child(2) {
    font-size: 250px;
    animation-delay: 2s;
    color: orange;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.container {
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    color: #fff;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.answers {
    margin-bottom: 20px;
}

.answers label {
    display: block;
    margin: 10px 0;
    background: #3a3a3a;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.answers label:hover {
    background: #555;
}

input[type="radio"] {
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-link {
    width: 25%;
    background-color: #1a73e8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.button-link:hover {
    background-color: #005bb5;
    font-weight: 600;
}

.button-link-secondary {
    background-color: lightsalmon;
    color: #141414;
    font-weight: 400;
}

.button-link-secondary:hover {
    background-color: orange;
    color: #141414;
    font-weight: 600;
}

.button-link-third {
    background-color: lightgreen;
    color: #141414;
    font-weight: 400;
}

.button-link-third:hover {
    background-color: green;
    color: #141414;
    font-weight: 600;
}